/* width - задает ширину элемента, height - задает высоту элемента:
- fit-content - по контенту
- min-content - внутренняя минимальная предпочтительная ширина
- max-content - внутрення максимальная предпочтительная ширина
- % - ширина или высота подстраивается под родительский контейнер
- px - от колличества px зависит ширина или высота контейнера */

/* border - св-во, которое задает границы для элемента и имеет 3 значения:
1 - ширина границы
2 - стиль границы. Например: сплошная линия или пунктир
3 - цвет границы */

/* padding - это св-во, которое добавляет внутренней отступ в html элементе. Также св-во margin имеет те же значения и возможности, только
вместо слова padding пишем слово margin
Варианты использования:
-   padding: 15px; - добавляет внутренний отступ со всех сторон
 - padding: 15px 20px; -  1 значение - сверху/снизу, 2 значение - справа/слева
  - padding: 10px 20px 5px 15px; - добавлеет отступы по отдельности по часовой стрелке, начиная сверху(1 значение)
  Следующие св-ва позоляют задавать отступы для каждой из сторон:
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; */

/* * - выбирает все теги в вашем html документе и назвначает им св-ва перечисленные в фигурных скобках */

* {
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  /* Четыре пармметра, значение внутреннего отступа по часовой стрелке, начиная сверху */
  /* padding: 10px 15px 10px 15px; */

  /* Строки ниже идентичны тому, что сверху */
  /* padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; */

  /* Отступы сверху-снизу и справа-снизу */
  padding: 10px 15px;

  /* Все отступы одним значением */
  padding: 15px;

  /* Внешний отступ, задается так же как и внутренний*/
  margin: 30px 0 0 30px;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.animal {
    min-width: 300px;
    max-width: fit-content;
    min-height: 200px;
    max-height: fit-content;
    padding: 15px 20px;
    border: 1px dotted red;
    margin: 40px;
}

.animalImage {
    width: 250px;
    height: 175px;
}
