* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  padding: 0;
  margin: 0;
}

/* элемент с позицией relative приоритетнее, чем элемент с позицией fixed (он стоит выше, виднее)*/
/* чем больше значение свойства z-index, тем элемент выше/виднее на странице (по умолчанию 0)*/

/* Позиции (коор-те 0,0 - выступает верхний левый угол):
 1) fixed - позиционируется относительно окна просмотра (коор-те 0,0) и двигается св-ми top... зафиксирован на окне просмотра в определенной точке
 2) relative - позиционируется относительно себя (коор-те 0,0) с того места, где он находился на странице,  и двигается св-ми top...
 3) sticky - начинает двигаться только когда доходит до точки, указанной св-ми top..., но только внутри родительского контейнера
 4) absolute - позиционируется относительно ближайшего предка (коор-те 0,0) со свойством position (fixed или relative) (если нет предков, то у окну просмотра) и двигается св-ми top... Отступы игнорируются
 */
 /* 5) По умолчанию все элементы на странице имеют position: static. Он не на что не влияет, св-ва top,left, right и bottom не влияют на элемент когда он static */
/* св-ва top, left, right и bottom влияют на все position, КРОМЕ STATIC */

.header {
  z-index: 2;
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: rgb(49, 102, 102);
  color: white;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 2px solid black;
}

main {
  background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/191111144441-03-highest-mountains-world-photos-restricted.jpg?q=w_2500,h_1406,x_0,y_0,c_fill");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 200px;
  padding: 140px 40px 40px 40px;
}

.cards-container {
  width: 800px;
  height: 800px;
  padding: 40px;
  background-color: rgb(53, 59, 55);
}

#cards-contatier-1 {
  /* z-index: 3; */
  position: relative;
  top: 30px;
  left: 150px;
}

.card {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 20px;
  font-size: 26px;
  color: white;
}

#card-approach {
  right: 10px;
  background-color: rgb(119, 161, 204);
  border: 4px solid rgb(180, 194, 180);
}

#card-team {
  top: 100px;
  left: 200px;
  background-color: rgb(174, 176, 111);
  border: 4px solid rgb(191, 194, 180);
}

#card-focus {
  left: 0;
  bottom: 0;
  background-color: rgb(176, 133, 111);
  border: 4px solid rgb(255, 216, 208);
}

#card-quality {
  position: sticky;
  top: 100px;
  background-color: rgb(132, 206, 140);
  border: 4px solid rgb(214, 255, 208);
}

.inner-card-container {
  height: 60%;
}

#image-container {
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 300px;
  left: 400px;
  position: static;
}

#cards-contatier-2 {
  position: relative;
}
